<div class="container d-flex justify-content-center align-items-center">
  <div class="banner-event">
    <div class="d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <% if current_user.avatar.attached? %>
          <%= image_tag current_user.avatar, class: "rounded-circle me-4", style: "width: 60px; height: 60px;" %>
        <% else %>
          <%= image_tag "default_avatar.png", class: "rounded-circle me-4", style: "width: 60px; height: 60px;" %>
        <% end %>
        <h5 class="mb-0 align-self-center">
          Hello <%= current_user.first_name %>, welcome to your Events Dashboard.<br>
          Here you can view and manage your event participations.
        </h5>
      </div>
      <%= link_to raw('<i class="fas fa-comment-dots me-2"></i>Chat Us'), "#", class: "btn btn-outline-light" %>
    </div>
  </div>
</div>


<%# ---- 1. Participating in Other Users' Events ---- %>

<% if @other_participations.any? %>
<h3 class="shift-div mt-5 mb-3" >LATEST EVENTS &raquo;</h3>
  <div class="row">
    <% @other_participations.each do |participation| %>
      <%= render partial: "participation_card", locals: { participation: participation } %>
    <% end %>
  </div>
<% else %>
  <p class="text-muted">You're not currently participating in any events hosted by others.</p>
<% end %>

<%# ---- 2. Events You Organize ---- %>

<% if @owned_events.any? %>
<h3 class="shift-div mt-5 mb-3">MY EVENTS &raquo;</h3>
  <div class="row">
    <% @owned_events.each do |event| %>
      <%= render partial: "event_card", locals: { event: event } %>
    <% end %>
  </div>
<% else %>
  <p class="text-muted">You haven't organized any events yet.</p>
<% end %>

<%# ---- 3. Cancelled Participations ---- %>

<% if @cancelled_participations.any? %>
<h3 class="shift-div mt-5 mb-3">Cancelled Events </h3>
  <div class="row">
    <% @cancelled_participations.each do |participation| %>
      <%= render partial: "participation_card", locals: { participation: participation } %>
    <% end %>
  </div>
<% else %>
  <p class="text-muted">You haven't cancelled any events.</p>
<% end %>
