<div class="container mt-4">
    <h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>
    <p><%= @user.bio %></p>

  <div class="row">
    <div class="col-8">
  <% if @user.user_sport_interests.any? %>
    <% @user.user_sport_interests.each do |interest| %>
      <div class="p-3 mb-3">
        <div class="d-flex justify-content-between align-items-center mb-1">
        </div>
        <%# <%= image_tag  %>
        <% sport = interest.sport %>
        <div class="form">
          <%= image_tag "#{sport.icon}" , style: "width: 50px; height: 50px;" %>
          <%= simple_form_for interest do |f| %>
            <div class="form-inputs row justify-content-center">
              <%= f.input :skill_level, collection: UserSportInterest::SKILL_LEVELS, prompt: "Select your skill level" %>
            </div>
            <%= f.submit "Save changes", class: "shining-button px-4 py-2 mb-3" %>
            <%= link_to "Delete", user_sport_interest_path(interest), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
                class: "shining-button alert-color-background px-4 py-2" %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <h5 class="mt-4">There are no interests yet.</h5>
  <% end %>
    </div>
    <div class="col-4">

    <div class="container">
    <% if @user == current_user %>
      <div class="user_sport_interests-form">
        <div class="mt-2">
          <%= render "user_sport_interests/form", user_sport_interest: @user_sport_interest %>
        </div>
      </div>
    </div>

    </div>
    </div>

  </div>



    <% else %>

      <div class="d-flex justify-content-start align-items-center gap-2">
        <% unless current_user.following.include?(@user) %>
          <%= button_to "Follow him", user_follows_path(@user) , method: :post, class: "simple-primary-button" %>
        <% else %>
          <%= button_to "Unfollow him", follow_path(current_user.active_follows.find_by(followed_id: @user.id)), method: :delete, class: "simple-primary-button" %>
        <% end %>
        <%= link_to "Chat with #{@user.first_name} #{@user.last_name}", chat_user_path(@user), class: "simple-primary-button" %>
      </div>
    <% end %>
  </div>
</div>
