<div class="navbar navbar-expand-sm navbar-light navbar-lewagon bg-light mb-3">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>

          <% if controller_name == "events" && action_name == "show" %>
            <li class="nav-item m-top-2">
              <%= link_to "Participate", new_event_participation_path(event), class: "simple-primary-button me-2" %>
            </li>
          <% else %>
          <li class="nav-item m-top-2">
            <%= link_to "New event", new_event_path, class: "simple-primary-button me-2" %>
          </li>
          <% end %>

          <div data-controller="notifications"
            data-notifications-url-value="<%= mark_as_read_notifications_path %>">

            <button class="notification-bell mx-3 mt-1"
              data-action="click->notifications#markAsRead"
              data-bs-toggle="dropdown"
              aria-expanded="false">
              🛎️
              <%= turbo_frame_tag "notifications_badge" do %>
                <% unread_count = current_user.received_notifications.where(read: false).count %>
                <%= render "notifications/badge", unread_count: unread_count %>
              <% end %>
            </button>

              <div class="dropdown-menu dropdown-menu-end p-2" style="min-width: 300px;">
                <%= turbo_stream_from "notifications_user_#{current_user.id}" %>

                <% current_user.received_notifications.order(created_at: :desc).limit(10).each do |notification| %>
                  <%= render "notifications/notification", notification: notification %>
                <% end %>

              </div>
            </div>

          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <% if current_user.avatar.attached? %>
                <%= image_tag current_user.avatar, class: "avatar rounded-circle", alt: "dropdown menu", style: "width: 30px; height: 30px;" %>
              <% else %>
                <%= image_tag "default_avatar.png", class: "avatar rounded-circle", alt: "dropdown menu", style: "width: 30px; height: 30px;" %>
              <% end %>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My events", participations_path, class: "dropdown-item" %>
              <%= link_to "Profile", current_user, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, class: "simple-primary-button me-2" %>
          </li>
          <li class="nav-item">
            <%= link_to "Log in", new_user_session_path, class: "simple-primary-button outline me-2" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
