<div class="form-wrapper">
  <div class="form">
    <div class="container mt-2">
      <%= simple_form_for @event, html: { multipart: true } do |f| %>
        <div class="form-inputs row justify-content-center">
          <%= f.input :title %>
          <%= f.input :description, as: :text, input_html: { rows: 5 } %>
          <%= f.input :sport_id, collection: @sports, prompt: "Select a sport", label_method: :name, value_method: :id %>
          <%= f.input :street %>
          <%= f.input :city %>
          <%= f.input :country %>
          <%= f.input :max_participants %>
        </div>
        <div class="form-checkbox-wrapper">
          <input type="checkbox" name="event[free]" id="event_free" class="form-checkbox" <%= @event.free? ? "checked" : "" %>>
  <label for="event_free" class="form-checkbox-label">Free</label>
        </div>

        <div class="form-inputs row justify-content-center">
          <%# <%= f.input :price_per_participant %>
          <%= f.input :start_time, as: :string, label: "Starting time", input_html: { data: { controller: "flattime" } } %>
          <%= f.input :end_time, as: :string, label: "Ending time", input_html: { data: { controller: "flattime" } } %>
          <%= f.input :venue, collection: Event::VENUES, prompt: "Select a type of venue" %>


          <%= f.input :photos, as: :file, input_html: { multiple: true } %>

        </div>

        <div class="form-actions mb-2">
          <%= f.button :submit, class: "shining-button me-1" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
