<!DOCTYPE html>
<html>
  <head>
    <title>Sportsmate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://api.mapbox.com/mapbox-gl-js/v3.13.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.13.0/mapbox-gl.js"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-Z0fUwQ5JwAAixk7jvPFe4YMFx5M6Wq5jXqzQKABdO2BWeM0iVdYpZsovUoKPK7LgR6HeYNg+RJUmDeFcqvqzUg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  </head>

  <body>
    <%= render "shared/navbar", event: @event %>
    <% if notice %>
      <div class="alert alert-success"><%= notice %></div>
    <% elsif alert %>
      <div class="alert alert-danger"><%= alert %></div>
    <% end %>
    <%= yield %>
    <%= render "shared/footer", event: @event %>
  </body>
</html>
